/* Universal */
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color:seashell;
  background-color:black;
  font-size: 22px;
  text-align:center;
}

a {
  color:seashell;
  text-decoration: underline;
}

h2, h3, h4 {
  margin:0;
  padding:10px;
}