html,
body {
  font-family:Helvetica;
  font-size:22px;
  color:seashell;
  background-color:black;
  opacity:0.9;
  text-justify:center;
}

nav {
  height:69px;
  border-bottom:1px solid seashell;
  display:fixed;
}

nav img {
  height:50px;
  padding-left:10px;
  align-content: center;
  justify-content:flex-start;
}

nav a ul {
  text-decoration:underline;
  align-content:center;
  justify-content:flex-end;
}

h1 {
  font-size:2.5rem;
}

h2 {
  font-size:2rem;
  color:seashell;
}

h3 {
  font-size:1.75rem;
}

h4 {
  font-size:1.5rem;
}

h5 {
  font-size:1.25rem;
}

.mission div{
  background-image:url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  width:1200px;
  height:700px;
}

.missiontext div {
  background-color:black;
}

.teaofmonth div {
  width:1000px;
}

.teaofthemonth img {
  height:200px;
  width:300px;
}

container .locations {

}

footer {

} 

copyright {

}